@using Sentinel;
@{
    ViewData["Title"] = "Servers";
    List<ServerConfig>? servers = (List<ServerConfig>?) ViewData["ServerList"];
    bool unknowns = false;
}

<h2>Servers</h2>
<br />

@foreach(ServerConfig server in servers)
{
    if(server.Name != null && server.Name != "")
    {
        <a class="server-card-link" href="/Servers/Info?server=@server.DiscordID">
        <div class="server-card">
            <img src="@server.IconURL" onerror='this.src = "/assets/unknown.png"' />
            <span>@server.Name</span>
        </div>
        </a>
    }
    else
    {
        unknowns = true;

        <a class="server-card-link" href="/Servers/Info?server=@server.DiscordID">
        <div class="server-card server-card-unknown">
            <img src="/assets/unknown.png" />
            <span>Unknown Server: @server.DiscordID</span>
        </div>
        </a>
    }

}

@if(unknowns)
{
    <div class="warning">
        <div class="warn-emoji">⚠️</div> <span>Sentinel caches server information on startup to populate this page.<br/>If information is missing for a server then I might not have cached it yet, or was kicked from the server before I had the chance to.</span>
    </div>
}